<div class="wrapper">
    <div class="user">
        <h1 class="name">
            <u>{{screen_name}}</u>
        </h1>
        <img id="profilePic" src={{image}}>
        <hr>

        <div id="gameView">
            <h2 class="title">
                <u>Games</u>
            </h2>

            {{#each games}}
            <img class="gamePreview" src={{game.image}}>
            <br>
            <br> {{/each}}
        </div>
    </div>

    <div class="reviews">
        <h1>
            <u>Reviews from {{screen_name}}</u>
        </h1>
            {{#each posts}}
            {{>posts/posts-block}}
            {{/each}}
    </div>

</div>

</div>