<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" href="review.css" type="text/css" />

<div id="main-body">
    
<div id="your-review">
<form>
    <div id="ur-title">Write your Review:</div>
    <div>
        <input id="myTitle" class="myReview" placeholder="Title"/>
    </div>

    <div id="big-box">
    <div class="stars">
        <form action="Myrating">
            <input class="star star-5" id="star-5" type="radio" name="star"/>
                <label class="star star-5" for="star-5" value="5"></label>
            <input class="star star-4" id="star-4" type="radio" name="star"/>
                <label class="star star-4" for="star-4" value="4"></label>
            <input class="star star-3" id="star-3" type="radio" name="star"/>
                <label class="star star-3" for="star-3" value="3"></label>
            <input class="star star-2" id="star-2" type="radio" name="star"/>
                <label class="star star-2" for="star-2" value="2"></label>
            <input class="star star-1" id="star-1" type="radio" name="star"/>
                <label class="star star-1" for="star-1" value="1"></label>
        </form>
    </div>
    </div>

    <div>
        <textarea id="myComment" class="myReview" placeholder="Review" rows="4"></textarea>
    </div>

    <input type="submit" value="Submit" id="submit-review">
</form>
</div>

<div>
<div id="their-top">User's Reviews:</div>
<div id="their-re">
    <div id="their-profile" class="center">
        <img id="their-pic" src="logo.png" alt="username"/>
        <p id="their-user">Usernamethatissuperlongandconvoluted</p>
        <p id="r-score" class="less">Score: 0 ✰</p>
    </div>
    <div id="their-comment" class="left">
        <p id="r-title" class="less">Developers have many dud Lorem Ipsum Dolor Reviews!</p>
        <p id="r-comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta temporibus voluptatem, incidunt accusamus magnam nisi dolorum quaerat delectus esse cupiditate hic pariatur itaque tempore at, officiis similique veniam explicabo? Sapiente blanditiis perferendis repellendus quae adipisci sed minima, veniam, assumenda, vel officia expedita? Minima repellendus a autem neque, aspernatur tempore libero ducimus distinctio, nobis vitae, doloribus fuga magnam consequuntur. Explicabo amet officiis reprehenderit sit nesciunt nam! Omnis, deleniti nemo sit ipsa, quaerat amet quas inventore earum laborum asperiores maiores fugiat voluptatibus. Minus officiis laborum rem in dolores et, nihil quos asperiores illum distinctio beatae aspernatur nam, ad itaque magni delectus minima ipsam veniam aperiam, dolorum repudiandae sit. Eligendi vero cum, at maxime consequatur natus soluta odit fugiat doloribus veritatis praesentium magnam ea voluptatibus, alias beatae facilis unde! Tenetur commodi esse illo cumque dolor maiores omnis, iusto vitae aliquam distinctio eos quae sapiente at voluptate ipsa vel doloribus dolores explicabo libero? Illum explicabo, beatae sunt quas placeat id, cum provident! Delectus tempora eaque natus iusto repudiandae neque aut exercitationem voluptatem. Architecto natus asperiores accusantium a, saepe beatae, harum est ullam minima rerum, necessitatibus obcaecati odio dicta, commodi ut culpa recusandae eius! Cumque vel error culpa. Laudantium blanditiis sunt, magni velit hic quas alias dolorum deleniti odit quos aperiam perferendis facere a, aspernatur delectus corporis voluptatem perspiciatis numquam, culpa quidem praesentium maxime quae. Animi, eos nesciunt. Et perferendis officiis quo quasi, sunt nesciunt labore tenetur, esse velit voluptate veniam laudantium earum quibusdam ullam, atque, consectetur quisquam. Dolores ratione fugit, doloribus molestias modi unde commodi sint iusto, delectus dolore alias suscipit doloremque nesciunt ad eos rerum hic ut illo! Doloribus quas aspernatur eligendi nisi ex voluptatum saepe illum ipsa alias voluptate minus earum aliquam pariatur, magnam quasi! Impedit numquam qui tenetur nobis quo deleniti, neque odio! Blanditiis architecto labore velit adipisci odio cum sequi, explicabo omnis non placeat aut delectus excepturi tempora dolorem nesciunt nemo!
        </p>
    </div>
</div>
</div>
</div>