<div id="all-results">
    
    {{#each this}}
    <div id="game-cover">
        <img class="game-posters" src='https:{{cover}}' alt="{{name}}">
    </div>
    <div id="game-info">
        <div id="game-title">
            <p>{{name}}</p>
        </div>
    </div>
    {{/each}}
</div>