<fieldset>
    <legend>Sign in</legend>

    <div>
        <label for="screen_name">Username:</label>
        <input type="text" id="screen_name" name="screen_name" required />
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"
               minLength="8" required
               placeholder="8 characters minimum" />
    </div>

    <input type="submit" value="Sign in" id="signin">

</fieldset>