body {
    background-color: #333;
}

img {
    padding: 0%;
    margin: 0%;
}

#top-logo {
    text-align: center;
    margin: auto;
    background-color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.navbar {
    background-color: rgb(34, 34, 34);
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.navbar a {
    float: left;
    color: #e2e2e2;
    text-align: center;
    padding: 20px 35px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Teko", sans-serif;
}

.navbar a:hover {
    background-color: rgb(24, 238, 199);
    color: #333;
}

#search_bar {
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
    background: #333;
    margin: 15px 5px;
    padding: 5px;
    width: 180px;
    height: 15px;
    border: 2px solid rgb(65, 65, 65);
    border-radius: 5px;
}

#search_bar:focus {
    border-color: #3333;
}

#search_bar::-webkit-input-placeholder {
    color: #e2e2e2;
}

#search_icon {
    color: #e2e2e2;
}

#search_btn {
    background: #333;
    margin-right: 15px;
    width: 35px;
    height: 24px;
    border: 0 none;
    cursor: pointer;
    border-radius: 25px;
}

#left_nav {
    padding-left: 17%;
}

#right_nav {
    float: right;
    padding-right: 17%;
}

.name {
    font-family: "Teko", sans-serif;
    color: #e2e2e2;
}

.title {
    font-family: "Teko", sans-serif;
    color: #e2e2e2;
    width: 200px;
}

.user {
    width: 250px;
    background-color: #191919;
    text-align: center;
    border: 1px solid #e2e2e2;
    display: inline-block;
}

.gamePreview {
    width: 200px;
}

#profilePic {
    width: 200px;
    height: auto;
}

#gameView {
    width: 250px;
}

.wrapper {
    width: 65%;
    margin: auto;
    display: flex;
}

.reviews {
    background-color: #191919;
    color: #e2e2e2;
    border: 1px solid #e2e2e2;
    width: 75%;
    padding-left: 10px;
    font-family: "Teko", sans-serif;
    font-size: x-large;
}